{{template "header" .}}

{{template "nav.html" .}}

<main>
	{{range .Results}}
	<div class="result">
		<a href="{{.Link}}" rel="nofollow">
			<h3 class="title">{{.Title}}</h3>
			<span class="link">{{.FancyURL}}</span>
		</a>
		<span class="source">{{.Source}}</span>
		<p class="desc">{{.Description}}</p>
	</div>
	{{end}}
</main>

<form action="/search" method="GET">
	<input type="hidden" name="q" value="{{.Query}}">
	<input type="hidden" name="p" value="{{inc .Page}}">
	<input type="submit" id="nextpage" value="Next page...">
</form>

{{template "footer" .}}
