{{template "header" .}}

{{template "nav.html" .}}

<main>
	{{range .Results}}
	<div class="result">
		<a href="{{.Link}}" rel="nofollow">
			<h3 class="title">{{.Title}}</h3>
			<p class="desc">{{.Description}}</p>
			<span class="link">{{.FancyURL}}</span>
			<span class="source">{{.Source}}</span>
		</a>
	</div>
	{{end}}
</main>

<div id="paginator">
	{{if gt .Page 1}}<a href="/search?q={{.Query}}">&lt;&lt;</a>{{end}}
	{{if gt .Page 0}}<a href="/search?q={{.Query}}{{if ne .Page 1}}&p={{dec .Page}}{{end}}">&lt;</a>{{end}}
	<a>{{.Page}}</a>
	<a href="/search?q={{.Query}}&p={{inc .Page}}">&gt;</a>
</div>

{{template "footer" .}}
