{{template "header" .}}

{{template "nav.html" .}}

<main>
	{{if gt (len .Errors) 0}}
	<details id="errors">
		<summary>Search error on <b>{{len .Errors}}</b> engine{{if gt (len .Errors) 1}}s{{end}}</summary>

		<p>The following engines failed to perform a search:</p>

		<ul>
			{{range $name, $err := .Errors}}
			{{if $err}}<li><b>{{$name}}</b>: <code>{{$err.Error}}</code></li>{{end}}
			{{end}}
		</ul>

		<p>
			Some errors are temporary due to the nature of srchd.
			If these errors are persistent however, you should disable the engine{{if gt (len .Errors) 1}}s{{end}} and report a bug if other instances are affected.
		</p>
	</details>
	{{end}}

	{{range .Results}}
	<div class="result">
		<a href="{{.Link}}" rel="noreferrer">
			<h3 class="title">{{.Title}}</h3>
			<p class="desc">{{.Description}}</p>
			<div class="footer">
				<span class="link">{{.FancyURL}}</span>
				{{range .Sources}}
				<span class="source">{{.}}</span>
				{{end}}
			</div>
		</a>
	</div>
	{{end}}

	<div id="paginator">
		{{if gt .Page 1}}<a href="/search?q={{.Query}}">&lt;&lt;</a>{{end}}
		{{if gt .Page 0}}<a href="/search?q={{.Query}}{{if ne .Page 1}}&p={{dec .Page}}{{end}}">&lt;</a>{{end}}
		<a>{{.Page}}</a>
		<a href="/search?q={{.Query}}&p={{inc .Page}}">&gt;</a>
	</div>
</main>

{{template "footer" .}}
