{{template "header" .}}

{{template "nav.html" .}}

<header>
	<h1>Configuration</h1>
</header>

<main>
	<h2>Supported engines</h2>

	<form action="/settings" method="POST">
		{{$sel := .Selected}}
		<ul>
			{{range .Engines}}
			<li><input type="checkbox" id="engine-{{.}}" name="engine" value="{{.}}" {{if or (strIn $sel .) (eq (len $sel) 0)}}checked{{end}}><label for="engine-{{.}}">{{.}}</label></li>
			{{end}}
		</ul>

		<input type="submit" value="Save">
	</form>
</main>

{{template "footer" .}}
